include qube/configs/config-default/*
include qube/configs/config-test/*
include qube/portfolio/report_templates/*
include qube/booster/app/templates/*
include qube/booster/data/*
include qube/examples/booster/*
prune tests *
