# There is list of required packages for Qube
numpy
pandas>=1.3.4
pandas-datareader
sklearn
qpython
matplotlib
statsmodels
pymongo
nose2
flask
patool
pymemcache
airspeed
flask_jsonpify
Flask-BasicAuth
python-dotenv
cycler
ntplib
bs4
dill
sortedcontainers
cython
plotly==5.8.0
seaborn
rich
pyyaml
requests
tqdm