# There is list of required packages for Qube
numpy
pandas
pandas-datareader
sklearn
qpython
matplotlib==3.2.0
statsmodels
pymongo
nose2
flask
patool
pymemcache
airspeed
flask_jsonpify
ntplib
bs4
dill
sortedcontainers
cython
plotly==5.8.0
numba
seaborn
rich